# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/reports/

# Logs
logs
*.log
*.out
*.err

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Build
dist/
coverage/

# Env
.env
.env.local
